<main>
    <section class="about-section">
      <h2 class="section-title">О сайте</h2>
      <div class="about-content">
        <div class="about-text">
          <p>"Книжная полка" - это платформа для любителей книг, где каждый может найти интересные произведения, делиться мнением и получать персональные рекомендации.</p>
        </div>
      </div>
    </section>
  
    <div class="divider"></div>
  
    <section class="features-section">
      <h2 class="section-title">Что мы предлагаем?</h2>
      <div class="features-container">
        <div class="feature-card">
            <h3 class="feature-title">Обширная база книг</h3>
            <p class="feature-description">информация о популярных и редких произведениях различных жанров</p>
        </div>
  
        <div class="feature-card">
          <h3 class="feature-title">Рецензии от пользователей</h3>
          <p class="feature-description">читай честные отзывы и оставляй свои впечатления</p>
        </div>
  
        <div class="feature-card">
          <h3 class="feature-title">Чат для рекомендаций</h3>
          <p class="feature-description">напиши свои предпочтения, и система подберет тебе книги по вкусу</p>
        </div>
  
        <div class="feature-card">
          <h3 class="feature-title">Подписки на авторов рецензий</h3>
          <p class="feature-description">следи за обновлениями любимых рецензентов</p>
        </div>
  
        <div class="feature-card">
          <h3 class="feature-title">Личный кабинет</h3>
          <p class="feature-description">создавай списки избранных книг и отслеживай свою историю чтения</p>
        </div>
      </div>
    </section>
  
    <div class="divider"></div>
  
    <section class="mission-section">
      <h2 class="section-title">Наша цель</h2>
      <div class="mission-content">
        <p class="mission-text">Мы стремимся создать удобное сообщество, где книголюбы могут делиться мнениями, находить вдохновение для чтения и обсуждать любимые книги.</p>
        <p class="mission-text">Присоединяйся к "Книжной полке" и открывай для себя новые литературные горизонты!</p>
      </div>
    </section>
</main>